:root {
    --rustic-gray: #484f4f;
    --rustic-cyan: #8ca3a3;
    --pemgrant: #563f46;
    --rustic-pink: #c8c3cc;
    --page-background: #ffffff;
    --wireframe-outlines: none;
  }
  
  body {
        font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    line-height: 2.3;
    background-color: var(--page-background);
      }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pemgrant);
    padding-left: 30px;
  }
  /*image*/
.sub-header {
  padding: 10px;
  height: 200px;
  background-image: url("../images/close-up-image-programer-working-his-desk-office.jpg");
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size:cover;
}
  .sub-header p {
    display: block;
    justify-content: flex-end;
    font-size: 80%;
    font-weight: bold;
    padding: 10px;
    height: 50px;
    color: var(--rustic-pink);
  }
  code {
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
    background-color: var(--pemgrant);
  }
  nav {
    margin-bottom: 30px;
  }
  nav ul {
    display: flex;
    gap: 12px;
    justify-content: space-between;
  min-width: 300px;
  }
  
  ul li a {
    color: var(--rustic-pink);
    font-weight: bold;
    text-decoration: none;
    border-bottom: 5px solid var(--rustic-cyan);
    padding: 3px 12px;
  }
  
  nav ul li a:hover {
    color: var(--accent-color-1);
  }
  main {
    margin: auto;
    max-width: 1170px;
  }
  
    header h1 {
      font-size: 200%;
      font-weight: bold;
      margin: 0 5% 0 0;
    text-align: center;
      color: var(--page-background);
      padding:  20px 0px 10px 40px;
    }
    
        h2 {
      display: block;
      font-size: 150%;
    font-weight: bold;
      text-align: left;
      border-bottom: 5px solid var(--pemgrant);
      padding: 5px 5px 5px 5px;
      margin: 10px 10px 10px 10px;
    }
    h3 {
      font-size: 20px;
      font-weight: normal;
    }
    p {
      padding-left: 0.5em;
      margin: 10px 10px 10px 10px;
    }
    .gallery {
      display: flex;
      flex-wrap: wrap;
    } 
    .card {
      position: relative;
      display: inline-block;
      width: 50%;
    }
    
    .card:first-child {
      width: 100%;
    }
    
    .card-img {
      width: 100%;
      padding: 10px;
    }
    
    .card-title {
      position: absolute;
      bottom: 20px;
      left: 20px;
      z-index: 1;
      background-color: #563f46b0;
      padding: 5px;
      color: var(--page-background);
          }


 footer{      
  padding: 10px;
  
          }

 footer ul {
      flex-direction: column;
        justify-content:flex-start;
        height: 200%;
       gap: 250px;
  }
     footer ul li a {
     color: var(--rustic-gray);
  border-bottom: 5px solid var(--pemgrant);
  
}
      footer ul li a:hover {
color: var(--rustic-cyan);
}
  
@media screen and (min-width: 800px){
  header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
  /*header h1 {
    display: block;
    align-items: center;
           }
  */
  nav ul {  
    display: flex;
    justify-content: space-between;
                  
  }

  section {
    display: flex;
  }

  h2 {
    border-right: 3px solid var(--pemgrant);
    border-bottom: none;
    padding-top: 0;
    padding-right: 0.5rem;
  }

  p {
    padding-left: 0.5em;
  }

  .col-left {
    width: 30%;
    text-align: end;
  }

  .col-right {
    width: 75%;
    text-align: end;
  }
  footer ul {
    display: flex;
     flex-direction: row;
    justify-content: space-around;
    gap: 12px;
}
}
